* {
  scroll-behavior: smooth;
}

.main-container {
  background-color: #343a40 !important;
  color: white;
  min-width: 100vw;
  min-height: 100vh;
}

.divider {
  margin-left: 0.7rem;
}

.graph {
  height: 60vh;
  width: 100vw !important;
}

.rounded-img {
  border-radius: 20px;
}

.img {
  max-height: 250px;
  max-width: 250px;
}
